.gform_wrapper {
    margin: 1rem 0;
    color: #4a5568;
}
.gform_heading {
    margin-bottom: 1rem;
}
.gform_heading .gform_title {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.gfield {
    margin-bottom: 1rem;
    width: 100%;
}

.gform_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gfield.size-small,
.gfield.size-medium {
    width: 100%;
}

.gform_wrapper label {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .025em;
    margin-bottom: .5rem;
    color: inherit;
}
.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']),
.gform_wrapper textarea,
.gform_wrapper select {
    font-family: inherit;
    display: block;
    padding: .75rem 1rem;
    width: 100%;
    background: #fff;
    border: 1px solid #a0aec0;
    border-radius: .25rem;
    margin-bottom: .75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):focus,
.gform_wrapper textarea:focus,
.gform_wrapper select:focus {
    outline: none;
    background: #edf2f7;
    border-color: #a0aec0;
}
.gform_wrapper textarea {
    resize: none;
}
.gform_wrapper select:not([multiple]) {
    background: #fff url(../img/dropdown.svg) no-repeat calc(100% - 1rem) center;
    background-size: 1rem 1rem;
}
.gform_wrapper select:not([multiple]):focus {
    background: #edf2f7 url(../img/dropdown.svg) no-repeat calc(100% - 1rem) center;
    background-size: 1rem 1rem;
}

.gfield_description {
    font-size: .75rem;
    font-style: italic;
    color: #5f6d81;
}

.gform_wrapper fieldset {
    width: 100%;
    border: 0;
    padding: 0;
}
.gform_wrapper fieldset legend {
    font-size: 1.1rem;
    margin: 0 0 .5rem;
    padding: 0;
}

body:not(.gforms_hover) .gfield.field_sublabel_below:not(.gfield_price) label {
    margin-top: -.25rem;
    margin-bottom: .75rem;
}
.gfield.field_description_above .gfield_description {
    margin-bottom: .75rem;
}


.gform_wrapper div.validation_error {
    color: #e53e3e;
    margin-bottom: .75rem;
}
.gform_wrapper .validation_message {
    font-size: .75rem;
    color: #e53e3e;
}
.gform_wrapper .gfield_error input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    background: #edf2f7;
    border-color: #e53e3e;
}

.gform_wrapper .gform_ajax_spinner,
.type-honeybadger {
    display: none !important;
}
.gform_footer,
.gform_page_footer {
    text-align: right;
}
.gform_footer * + *,
.gform_page_footer * + * {
    margin-left: 1rem;
}
.btn,
.gform_wrapper button,
.gform_wrapper input[type=button],
.gform_wrapper input[type=submit] {
    border: 1px solid #4299e1;
    background: #4299e1;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
}
.btn:hover,
.gform_wrapper button:hover,
.gform_wrapper input[type=button]:hover,
.gform_wrapper input[type=submit]:hover {
    background: #2b6cb0;
    border-color: #2b6cb0;
}
.btn:focus,
.gform_wrapper button:focus,
.gform_wrapper input[type=button]:focus,
.gform_wrapper input[type=submit]:focus {
    outline: none;
    background: #2b6cb0;
}

/** section break **/
.gfield.type-section h2 {
    font-size: 1.2rem;
    margin-top: 2rem;
}

/** time **/
.gfield.type-time .clear-multi {
    display: flex;
    align-items: flex-end;
    max-width: 300px;
}
.gfield.type-time .ginput_container_time {
    width: calc(100% / 3);
    padding-right: 1rem;
    position: relative;
}
.gfield.type-time .gfield_time_hour span {
    position: absolute;
    right: .35rem;
    bottom: 1.75rem;
}

/** list **/
table.gfield_list {
    width: 100%;
}
.gform_wrapper table.gfield_list input {
    margin-bottom: 0 !important;
}
table.gfield_list td {
    padding: 0 0 0.75rem;
}
table.gfield_list .gfield_list_icons {
    padding-left: 1rem;
    width: 58px;
}
table.gfield_list .gfield_list_icons a + a {
    margin-left: .25rem;
}

/** checkbox/consent **/
.gform_wrapper input[type="checkbox"],
.gform_wrapper input[type="radio"] {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
}
.gform_wrapper ul.gfield_checkbox li,
.gform_wrapper ul.gfield_radio li,
.gform_wrapper .ginput_container_consent {
    position: relative;
}
.gfield_checkbox label,
.gfield_radio label,
.gfield.type-consent label {
    display: inline-block;
    padding-left: 2rem;
}
.gform_wrapper ul.gfield_checkbox li input[type="checkbox"] + label:before,
.gform_wrapper ul.gfield_radio li input[type="radio"] + label:before,
.gform_wrapper li.type-consent input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .25rem;
    background: #fff;
    border: 1px solid #a0aec0;
    vertical-align: top;
    left: 0;
}
.gform_wrapper ul.gfield_checkbox li input[type="checkbox"] + label:after,
.gform_wrapper li.type-consent input[type="checkbox"] + label:after {
    content: '';
    width: .75rem;
    height: .35rem;
    position: absolute;
    top: .4rem;
    left: .25rem;
    border: 2px solid #4a5568;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.gform_wrapper ul.gfield_radio li input[type="radio"] + label:before {
    border-radius: 1.25rem;
}
.gform_wrapper ul.gfield_radio li input[type="radio"] + label:after {
    content: '';
    position: absolute;
    top: .375rem;
    left: .375rem;
    background: #fff;
    width: .5rem;
    height: .5rem;
    border-radius: .75rem;
    opacity: 0;
}
.gform_wrapper ul.gfield_radio li input[type="radio"]:checked + label:before {
    background: #4a5568;
}
.gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked + label:after,
.gform_wrapper li.type-consent input[type="checkbox"]:checked + label:after,
.gform_wrapper ul.gfield_radio li input[type="radio"]:checked + label:after {
    opacity: 1;
}
.gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:focus + label:before,
.gform_wrapper li.type-consent input[type="checkbox"]:focus + label:before,
.gform_wrapper ul.gfield_radio input[type="radio"]:focus + label:before {
    background: #edf2f7;
    border-color: #a0aec0;
}

/** single product **/
.ginput_quantity_label {
    margin-top: .5rem;
}

/** paged / progress bar **/
.gf_progressbar_title {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.gf_progressbar {
    width: 100%;
    border-radius: 1rem;
    background: #edf2f7;
    border-color: #a0aec0;
    margin-bottom: 1rem;
}
.gf_progressbar_percentage {
    height: 1.2rem;
    text-align: center;
    border-radius: 1rem;
    background: #2b6cb0;
}
.gf_progressbar_percentage span {
    font-size: .75rem;
    line-height: 1.2rem;
    color: #fff;
}

/** save for later **/
.gform_save_link {
    display: block;
    margin-left: 0;
    margin-top: 1rem;
}

/** left labels **/
.gform_fields.left_label .gfield,
.gform_fields.right_label .gfield {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.gform_fields.left_label .gfield_label,
.gform_fields.right_label .gfield_label {
    width: 35%;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}
.gform_fields.left_label .type-textarea .gfield_label,
.gform_fields.left_label .type-multiselect .gfield_label,
.gform_fields.right_label .type-textarea .gfield_label,
.gform_fields.right_label .type-multiselect .gfield_label {
    align-items: flex-start;
    margin-top: 0.75rem;
}
.gform_fields.left_label .ginput_container,
.gform_fields.right_label .ginput_container {
    width: 65%;
}

.gform_fields.right_label .ginput_container {
    order: 0;
}
.gform_fields.right_label .gfield_label {
    order: 1;
    text-align: right;
    justify-content: flex-end;
    padding-right: 0;
    padding-left: 1rem;
}
.gform_fields.right_label .gfield_description {
    order: 2;
}

.gform_field.left_label .gfield_description,
.gform_field.right_label .gfield_description {
    width: 100%;
}

.gform_fields.left_label .type-address .gfield_label,
.gform_fields.left_label .type-address .ginput_container,
.gform_fields.left_label .type-list .ginput_container,
.gform_fields.left_label .type-consent .ginput_container,
.gform_fields.left_label .type-name .ginput_container,
.gform_fields.right_label .type-address .gfield_label,
.gform_fields.right_label .type-address .ginput_container,
.gform_fields.right_label .type-list .ginput_container,
.gform_fields.right_label .type-consent .ginput_container,
.gform_fields.right_label .type-name .ginput_container {
    width: 100%;
}

/** Date **/
.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

/** Hovering labels **/
.gforms_hover .gfield {
    position: relative;
    margin-top: 1rem;
}
.gforms_hover .gform_wrapper .top_label .gfield_label,
.gforms_hover .gform_wrapper .gfield_error .gfield_label {
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;
    will-change: left, top, contents;
    top: .65rem;
    left: 1rem;
}
.gforms_hover .gform_wrapper ul.gform_fields li.gfield.form_group--focused .gfield_label,
.gforms_hover .gform_wrapper ul.gform_fields li.gfield.form_group--not-empty .gfield_label {
    top: -1rem;
    left: 0;
    font-size: .75em;
    line-height: 1;
}
.gforms_hover .gform_wrapper .type-name label,
.gforms_hover .gform_wrapper .type-time label,
.gforms_hover .gform_wrapper .type-address label {
    font-size: .75em;
    line-height: 1;
}

.gforms_hover ::-webkit-input-placeholder {
    color: transparent;
}
.gforms_hover :-moz-placeholder {
    color: transparent;
}
.gforms_hover ::-moz-placeholder {
    color: transparent;
}
.gforms_hover :-ms-input-placeholder {
    color: transparent;
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
}

.ui-datepicker-header {
    background-color: #4a5568;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    min-height: 2rem;
}

.ui-datepicker-title {
    text-align: center;
    color: #4a5568;
}

.ui-datepicker-title select {
    margin-top: 2.5%;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-image: url('../img/datepicker/arrow.png');
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;
}

.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}

.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

.ui-datepicker thead {
    background: #edf2f7;
    border-bottom: 1px solid #a0aec0;
}

.ui-datepicker th {
    text-transform: uppercase;
    text-align: center;
    font-size: 6pt;
    padding: 5px 0;
    color: #4a5568;
}

.ui-datepicker tbody td {
    padding: 0;
    border-top: 1px solid #a0aec0;
    border-right: 1px solid #a0aec0;
}

.ui-datepicker tbody td:last-child {
    border-right: 0px;
}

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.ui-datepicker-calendar .ui-state-default {
    background: #edf2f7;
    color: #4a5568;
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}

.ui-datepicker-calendar .ui-state-hover {
    background: #4a5568;
    color: #fff;
}

.ui-datepicker-calendar .ui-state-active {
    background: #4a5568; /* set the active date background color */
    border: 1px solid #4a5568; /* set the active date border color */
    color: #fff; /* set the active date font color */
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    position: relative;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #edf2f7;
    color: #4a5568;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}

td.ui-datepicker-unselectable.ui-state-disabled {
    background-color: #4a5568;
}

table.ui-datepicker-calendar {
    margin: 0 0 0 0 !important;
}

body div#ui-datepicker-div[style] {
    z-index: 9999 !important;
}

@media (min-width: 480px) {
    .gfield.size-medium {
        width: calc(50% - 1rem);
    }
}
@media (min-width: 600px) {
    .gfield.size-small {
        width: calc(100% / 3 - 1rem);
    }
}